:root {
  --wrapper-width: 350px;
}

.wrapper {
  position: relative;
  width: var(--wrapper-width);
  height: 20px;
  margin-bottom: 30px;
  border: 1px solid #444;
}

.bar {
  position: absolute;
  display: block;
  height: 20px;
  width: calc(var(--wrapper-width) * var(--width));
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
