.date-info {
  font-weight: 900;
  text-align: center;
}

.icon {
  margin-right: 8px;
}

.time {
  margin-left: 25px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .date-info {
    margin-top: 20px;
  }
}

.main {
  width: max(310px, 50%);
  margin: clamp(3rem, 4vw, 5rem) auto clamp(5rem, 5vw, 10rem);
}

.main p {
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  text-indent: 0.8rem;
  line-height: 1.65;
}

.main a {
  color: var(--lin-color);
}

.main a:hover {
  color: var(--main-color);
}

.h2-title {
  margin: 60px 0 clamp(30px, 4.5vw, 40px);
  font-size: clamp(2.5rem, 2vw, 3.2rem);
  text-align: center;
}

.h3-title {
  margin: 40px 0 20px;
  font-size: clamp(2rem, 2vw, 2.5rem);
  line-height: 1.5;
}

.list {
  width: max(270px, 88%);
  margin: 20px 10px;
  padding: 20px 25px;
  border: 1px dotted #aaa;
  border-radius: 2px;
  list-style: none;
}

.list li {
  margin-bottom: 15px;
  line-height: 1.5;
}

.list li:last-child {
  margin: 0;
}

@media (max-width: 768px) {
  .list {
    margin: 20px auto;
    padding: 15px 20px;
  }
}
