@import "../scss/variables";

.main {
	width: 50%;
	margin: 100px auto;

	h2 {
		margin-bottom: 50px;
		font-size: 3rem;
		text-align: center;
	}
	p {
		margin-bottom: 10px;
		font-size: 1.9rem;
		letter-spacing: 0.5px;
		text-indent: .8rem;
		line-height: 1.6;
		a {
			color: #444;
			&:hover {
				color: $main-color;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.main {
		width: 90%;
		margin: 50px auto;

		h2 {
			margin-bottom: 30px;
			font-size: 2.5rem;
		}
	}
}