.footer {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #222;
  color: #ccc;
  line-height: 1.5;

  & a {
    color: #ccc;
    transition-duration: 0.1s;
  }

  & a:hover {
    background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
}

.footer-title {
  width: max(50%, 324px);
  margin: 0 auto 20px;
  font-size: clamp(1.05rem, 1.8vw, 1.75rem);
  font-weight: 100;
  letter-spacing: 2px;
}

.link {
  width: max(288px, 50%);
  margin: 10px auto;
}

.external-link svg {
  font-size: 2rem;
}

.internal-link,
.meta-link {
  display: flex;
  flex-wrap: wrap;
}

:is(.internal-link, .meta-link) a {
  margin-right: 25px;
  margin-bottom: 5px;
}

:is(.internal-link, .external-link) svg {
  margin-right: 5px;
}

.copyright {
  margin-top: 30px;
  letter-spacing: 0.5px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
