.footer {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--footer-bg-color);
  color: #ccc;
  line-height: 1.5;

  a {
    color: #ccc;
    transition-duration: 0.1s;

    &:hover {
      color: var(--main-color);
    }
  }
}

.footer-title {
  width: unquote("max(50%, 324px)");
  margin: 0 auto 20px;
  font-size: clamp(1.7rem, 2.8vw, 2.8rem);
  font-weight: 100;
  letter-spacing: 2px;
}

.link {
  width: unquote("max(288px, 50%)");
  margin: 10px auto;
}

.external-link {
  svg {
    font-size: 3rem;
  }
}

.internal-link,
.meta-link {
  display: flex;
  flex-wrap: wrap;

  a {
    margin-right: 25px;
    margin-bottom: 5px;
    font-size: clamp(1.4rem, 2vw, 1.7rem);

    svg {
      margin-right: 5px;
    }
  }
}

.copyright {
  margin-top: 30px;
  font-size: clamp(1.5rem, 1.4vw, 1.7rem);
  letter-spacing: 0.5px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
