@import "../scss/variables";

.footer {
  background: #444;
  color: #ccc;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
	line-height: 1.5;
  a {
    color: #ccc;
    transition-duration: 0.1s;
    &:hover {
      color: $main-color2;
    }
  }
  hgroup {
    width: 50%;
    margin: 0 auto 20px;
    h1 {
      font-size: 2.8rem;
      font-weight: 100;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
  }
  .link {
    width: 50%;
    margin: 0 auto 20px;
  }
  .externalLink {
    svg {
      font-size: 3rem;
    }
  }
  .internalLink,
  .metaLink {
    display: flex;
    flex-wrap: wrap;
    a {
      margin-right: 25px;
      margin-bottom: 5px;
      font-size: 1.5rem;
      svg {
        margin-right: 5px;
      }
    }
  }
  .copyright {
    margin-top: 30px;
    font-size: 1.7rem;
    letter-spacing: .5px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 30px;
    hgroup {
      width: 90%;
      h1 {
        font-size: 1.7rem;
        letter-spacing: 1px;
        text-align: center;
      }
      h2 {
        font-size: 1.3rem;
        text-align: center;
      }
    }
    .link {
      width: 80%;
    }
    .externalLink {
      text-align: center;
    }
    .internalLink,
    .metaLink {
      a {
        font-size: 1.2rem;
        margin-right: 15px;
      }
    }
    .copyright {
      margin-top: 30px;
      font-size: 1.5rem;
    }
  }
}