.header {
  margin-top: unquote("max(100px, 8vh)");
  text-align: center;
}

.header-title {
  margin-bottom: 5vh;
  margin-bottom: unquote("max(5vh, 30px)");
  font-size: clamp(1.7rem, 1.8vw, 3rem);
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 2px;

  a {
    color: #444;

    &:hover {
      background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
      background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }
}

.page-title {
  display: inline-block;
  margin-bottom: 30px;
  background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-size: clamp(3rem, 3vw, 3.8rem);
  font-weight: 500;
  letter-spacing: 7px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .page-title {
    width: 80%;
    margin: 0 auto;
    letter-spacing: 2px;
  }
}
