.indexWrapper {
	position: fixed;
	top: 100px;
	right: 20%;;
	h1 {
		font-size: 4rem;
	}
	ol {
		font-size: 2rem;
	}
}

.box {
	height: 60vh;
}

.box1 {
	background-color: rgba(red, .3);
}
.box2 {
	background-color: rgba(blue, .3);
}
.box3 {
	background-color: rgba(green, .3);
}
.box4 {
	background-color: rgba(yellow, .4);
}

.active {
  color: red;
} 