@import "../scss/variables";

.postList {
  width: 60%;
  list-style: none;

	.postItem {
    display: block;
    padding: 30px 50px 30px 40px;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
    text-decoration: none;

		&:first-of-type {
      border-top: 1px solid #bbb;
    }

    &:hover {
      background-color: rgba(200,200,200, .3);
    }

		.postTitle {
      margin-bottom: 10px;

      a {
        color: #444;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;

        &:hover {
          color: $main-color;
        }
      }
    }

		.postInfo {
      .date {
        display: flex;
        margin-bottom: 5px;
				.post,
        .update {
          font-size: 1.65rem;
          padding: 3px 7px 3px 0px;
          margin-right: 20px;
          text-decoration: none;
        }
        svg {
          margin-right: 5px;
        }
			}
      .description {
        svg {
          margin-right: 5px;
        }
      }
			.series,
      .tags,
      .description {
        font-size: 1.7rem;
        line-height: 1.5;
        padding: 3px 7px 3px 0px;
        margin-bottom: 5px;
        text-decoration: none;

				span {
          margin-right: 10px;
        }
				a {
          color: #444;
          margin-right: 9px;
          line-height: 1.5;
          &:hover {
            color: $main-color;
          }
        }
			}
		}
	}
}

@media screen and (max-width: 768px) {
  .postList {
    width: 90%;
    margin: 0 auto;
    .postItem {
      margin-bottom: 20px;
      width: 90%;
      padding: 8px 15px;
      .postTitle {
        a {
          font-size: 2rem;
        }
      }

      .postInfo {
        flex-direction: column;
        margin: 0;

        .date {
          .post,
          .update {
            font-size: 1.35rem;
            padding: 0;
            margin-bottom: 5px;
          }
        }
        .series,
        .tags,
        .description {
          margin-bottom: 5px;
          padding: 0;
          font-size: 1.35rem;
          span {
            margin-right: 10px;
          }
          a {
            margin: 0 5px;
          }
        }
      }
    }
	}
}