.count-info {
  margin: 0 auto 50px;
  font-size: clamp(1.5rem, 1.8vw, 2.2rem);
  text-align: center;
}

.page {
  margin: 10px 0 20px;
}

.page span {
  font-size: clamp(2.3rem, 2vw, 3.5rem);
}
