.count-info {
  margin: 0 auto 50px;
  font-size: clamp(1.15rem, 1.8vw, 1.5rem);
  text-align: center;
}

.page {
  margin: 10px 0 20px;
}

.page span {
  font-size: clamp(1.75rem, 2vw, 2.8rem);
}
