.countInfo {
  margin: 0 auto 50px;
  font-size: 2.2rem;
  text-align: center;
  .page {
    margin: 0px 0 5px;
    span {
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .countInfo {
    font-size: 1.5rem;
    .page {
      margin: 10px 0 15px;
      span {
        font-size: 2.3rem;
      }
    }
  }
}