.pagination {
  position: relative;
  width: 50%;
  margin: 100px auto 80px;
  min-height: 1px;
}

.prev {
  left: 0;

  & svg {
    margin-right: 8px;
  }
}

.next {
  right: 0;

  & svg {
    margin-left: 8px;
  }
}

.prev,
.next {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 20px;
  border: 2px solid var(--heading-bar-color);
  border-radius: 50px;
  transition: 0.1s;
  text-decoration: none;
  color: var(--heading-bar-color);
  font-weight: 500;

  &:hover {
    background: var(--heading-bar-color);
    color: #fff;
  }
}

.nation-links {
  composes: side-by-side from "./utils.module.css";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.45rem;
}

.items {
  list-style: none;
  margin: 0 10px;

  .text {
    padding: 0.7rem 1rem;
    background-color: var(--heading-bar-color);
    color: #fff;
  }

  .link {
    & a {
      display: block;
      padding: 0.7rem 1rem;
      background-color: #888;
      color: #fff;
      text-decoration: none;
    }

    &:hover a {
      background-color: var(--heading-bar-color);
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}
