.pagination {
  position: relative;
  width: 50%;
  margin: 100px auto 80px;
  min-height: 1px;
}

.prev {
  left: 0;
}

.prev svg {
  margin-right: 8px;
}

.next {
  right: 0;
}

.next svg {
  margin-left: 8px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
}

.prev:hover,
.next:hover {
  background: var(--main-color);
  color: #fff;
}

.nation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.45rem;
}

.items {
  list-style: none;
  margin: 0 10px;
}

.items .text {
  padding: 0.7rem 1rem;
  background-color: var(--main-color);
  color: #fff;
}

.items .link a {
  display: block;
  padding: 0.7rem 1rem;
  background-color: #888;
  color: #fff;
  text-decoration: none;
}

.items .link:hover a {
  background-color: var(--main-color);
}

@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}
