.pagination {
  position: relative;
  width: 50%;
  margin: 100px auto 80px;
  min-height: 1px;
}

.prev {
  left: 0;

  svg {
    margin-right: 8px;
  }
}

.next {
  right: 0;

  svg {
    margin-left: 8px;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  transition: 0.3s;
  text-decoration: none;

  svg {
    color: var(--main-color);
    font-size: 1.6rem;
  }

  span {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 900;
  }

  &:hover {
    background: var(--main-color);

    svg,
    span {
      color: #fff;
    }
  }
}

.nation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.items {
  list-style: none;
  margin: 0 10px;

  .text {
    padding: 1rem 1.35rem;
    background-color: var(--main-color);
    color: #fff;
  }

  .link {
    a {
      display: block;
      padding: 1rem 1.35rem;
      background-color: #888;
      color: #fff;
      text-decoration: none;
    }

    &:hover {
      a {
        background-color: var(--main-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}
