.blog-post {
  width: max(52%, 324px);
  margin-left: 13vw;
  margin-right: 5vw;
}

.blog-post a {
  color: var(--post-link-color);
}

.blog-post a:hover {
  text-decoration: underline;
}

.blog-post :is(h1, h2, h3) {
  padding-top: 10px;
  line-height: 1.5;
}

.blog-post h1 {
  width: 95%;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 7px solid var(--heading-bar-color);
  font-size: clamp(1.5rem, 5vw, 2.2rem);
}

.blog-post h2 {
  margin: 50px 0 20px;
  padding: 7px 0 7px 2rem;
  border-left: 9px solid var(--heading-bar-color);
  font-size: clamp(1.3rem, 4.1vw, 2rem);
}

.blog-post h3 {
  margin: 30px 0 20px;
  font-size: clamp(1.15rem, 4vw, 1.75rem);
}

.blog-post p {
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  line-height: 1.75;
  text-indent: 0.8rem;
}

.blog-post hr {
  margin: 60px auto;
  border-width: 0 0 8px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 432px;
}

.blog-post ol {
  padding: 10px 20px;
}

.blog-post ol li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.blog-post ul {
  padding: 10px 20px;
  list-style: none;
}

.blog-post ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.blog-post blockquote {
  position: relative;
  width: 85%;
  padding: 18px 30px 18px 60px;
  margin-top: 12px;
  margin-left: 1rem;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 0 1.5px 1.5px #ddd;
  color: #666;
}

.blog-post blockquote p {
  margin: 0;
  line-height: 1.6;
}

.blog-post blockquote::before {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  content: "❝";
  font-size: 5rem;
  color: #999;
  margin-left: -50px;
}

.blog-post table {
  margin: 40px 0;
}

.blog-post th {
  border: 1px solid #bbb;
  padding: 10px 15px;
  background: var(--post-link-color);
  color: #fff;
  font-weight: 400;
  line-height: 1.3;
  vertical-align: middle;
}

.blog-post td {
  padding: 10px 20px;
  border: 1px solid #bbb;
  line-height: 1.3;
}

.blog-post aside {
  position: relative;
  width: 85%;
  margin-bottom: 20px;
  padding: 18px 30px 18px 60px;
  background-color: rgba(57, 106, 252, 0.15);
  border-radius: 3px;
  box-shadow: 0 0 1.5px 1.5px rgba(57, 106, 252, 0.25);
}

.blog-post aside p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.6;
}

.blog-post aside::before {
  position: absolute;
  content: "💡";
  top: 50%;
  transform: translateY(-50%);
  margin-left: -50px;
  background-color: rgba(57, 106, 252, 0.4);
  padding: 8px;
  border-radius: 100%;
  font-size: clamp(1.05rem, 1.8vw, 1.3rem);
  text-align: center;
  z-index: 1;
}

.blog-post details {
  width: 90%;
  margin: 20px 0;
  padding: 15px 0 15px 25px;
  border-radius: 5px;
  box-shadow: 0 0 2px 3px #eee;
}

.blog-post summary {
  cursor: pointer;
}

.blog-post details[open] {
  padding: 15px 0 5px 25px;
}

.blog-post details[open] summary {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .blog-post {
    margin: 0 auto 50px;
  }

  .blog-post h1 {
    width: 100%;
    margin: 30px 0 20px;
  }

  .blog-post h2 {
    margin: 45px 0 20px;
    padding: 4px 0 4px 1.2rem;
  }

  .blog-post h3 {
    margin-bottom: 10px;
    padding: 3px 0;
  }

  .blog-post p {
    margin-bottom: 10px;
  }

  .blog-post hr {
    width: 216px;
  }

  .blog-post ul {
    padding: 5px 15px;
  }

  .blog-post blockquote {
    width: 80%;
    padding: 10px 12px;
    border-left: 6px solid #bbb;
    border-radius: 0;
  }

  .blog-post blockquote::before {
    display: none;
  }

  .blog-post table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin: 25px auto;
  }

  .blog-post th {
    padding: 5px 8px;
  }

  .blog-post td {
    padding: 5px 8px;
  }

  .blog-post aside {
    padding: 10px 15px 0 50px;
    width: 85%;
  }

  .blog-post aside p {
    line-height: 1.5;
  }

  .blog-post aside::before {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -40px;
  }
}

.before-and-after {
  width: max(50%, 324px);
  margin-top: 50px;
  margin-left: 13vw;
}

.before {
  margin-bottom: 30px;
}

.before,
.after {
  display: block;
  padding: 15px 19px 5px;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.25s;
}

.before:hover,
.after:hover {
  background: rgba(220, 220, 220, 0.4);
}

.title {
  letter-spacing: 1px;
  color: var(--text-color);
  font-size: var(--body);
  border-bottom: 3px dotted var(--heading-bar-color);
  padding-bottom: 7px;
  margin-bottom: 15px;
}

.post-title {
  margin-bottom: 10px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .before-and-after {
    margin: 0 auto;
  }

  .before,
  .after {
    padding: 10px 15px;
  }

  .title {
    margin-bottom: 10px;
  }

  .before {
    margin-bottom: 15px;
  }
}
