@import "../scss/variables";

.blogPost {
  width: 50%;
	margin-left: 14vw;
  margin-right: 5vw;
	h1,
  h2,
  h3 {
    padding-top: 10px;
    line-height: 1.5;
  }
	h1 {
    width: 90%;
    padding-bottom: 8px;
    font-size: 4rem;
    border-bottom: 7px solid $main-color2;
    margin-top: 50px;
    margin-bottom: 30px;
  }
	h2 {
    font-size: 3.3rem;
    margin: 50px 0 20px;
    border-left: 10px solid $main-color2;
    padding: 8px 0 8px 2rem;
  }
  h3 {
    font-size: 2.8rem;
    margin: 30px 0 20px;
  }
  p {
    margin-bottom: 15px;
    font-size: 1.75rem;
    letter-spacing: 0.5px;
    line-height: 1.65;
    text-indent: .8rem;
  }
  ol {
    padding: 10px 20px;
    li {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }
  ul {
    list-style: none;
    padding: 10px 20px;
    li {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }
  blockquote {
    position: relative;
    width: 80%;
    padding: 18px 30px 18px 60px;
    margin-top: 12px;
    margin-left: 1rem;
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 1.5px 1.5px #ddd;
    color: #666;
    p {
      margin: 0;
      font-size: 1.6rem;
      line-height: 1.6;
    }
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-40%);
      content: "❝";
      font-size: 6rem;
      color: #999;
      margin-left: -50px;
    }
  }
  table {
    margin: 40px 0;
    tr {
      th {
        border: 1px solid #bbb;
        padding: 10px 15px;
        background: $main-color2;
        font-size: 1.7rem;
        font-weight: 400;
        color: #fff;
        line-height: 1.3;
        vertical-align: middle;
      }
      td {
        padding: 10px 20px;
        font-size: 1.7rem;
        border: 1px solid #bbb;
        line-height: 1.3;
      }
    }
  }
  aside {
    position: relative;
    padding: 18px 30px 18px 60px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 3px;
    background-color: rgba($main-color2, 0.15);
    box-shadow: 0 0 1.5px 1.5px rgba($main-color2, 0.2);
    p {
      margin: 0;
      font-size: 1.6rem;
      line-height: 1.6;
    }
    &::before {
      content: "💡";
      top: 50%;
      font-size: 2rem;
      line-height: 1.6;
      transform: translateY(-50%);
      position: absolute;
      z-index: 1;
      margin-left: -50px;
      background-color: rgba($main-color2, .3);
      border-radius: 100%;
      height: 3.5rem;
      width: 3.5rem;
      text-align: center;
    }
  }
  details {
    font-size: 1.6rem;
    padding-left: 10px;
    summary {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
	.blogPost {
		width: 90%;
		margin: 0 auto 50px;

		h1 {
      width: 100%;
      margin: 30px 0 20px;
      font-size: 2.6rem;
    }
    h2 {
      margin: 45px 0 20px;
      padding: 4px 0 4px 1.2rem;
      border-left: 7px solid $main-color2;
      font-size: 2.1rem;
    }
    h3 {
      margin-bottom: 10px;
      padding: 3px 0;
      font-size: 1.8rem;
    }
    p {
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 1.7;
    }
    ul {
      padding: 5px 15px;
      li {
        font-size: 1.4rem;
      }
    }
    blockquote {
      width: 80%;
      padding: 10px 12px;
      border-left: 6px solid #bbb;
      border-radius: 0;
      p {
        font-size: 1.3rem;
        line-height: 1.5;
      }
      &::before {
        display: none;
      }
    }
    table {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      margin: 25px auto;
      tr {
        th {
          padding: 5px 8px;
          font-size: 1.5rem;
        }
        td {
          padding: 5px 8px;
          font-size: 1.4rem;
        }
      }
    }
    aside {
      padding: 10px 15px 10px 50px;
      width: 80%;
      p {
        font-size: 1.3rem;
        line-height: 1.5;
      }
      &::before {
        font-size: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
        margin-left: -40px;
      }
    }
	}	
}

.beforeAndAfter {
  width: 50%;
  margin-top: 80px;
  margin-left: 15vw;
  padding-bottom: 50px;
  .before,
  .after {
    display: block;
    border: 2px solid #bbb;
    border-radius: 3px;
    padding: 15px 19px 5px;
    color: #444;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
    h2 {
      font-size: 2rem;
      letter-spacing: 1px;
      color: #666;
      border-bottom: 3px dotted $main-color;
      padding-bottom: 7px;
      margin-bottom: 15px;
    }
    .title {
      line-height: 1.5;
      font-size: 2rem;
      margin-bottom: 10px;
    }
    &:hover {
      background: rgba(240,240,240,.5)
    }
  }
  .before {
    margin-bottom: 30px;
  }
}

@media screen and (Max-width: 768px) {
  .beforeAndAfter {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    .before,
    .after {
      padding: 10px 15px;
      h2 {
        margin-bottom: 10px;
        font-size: 1.3rem;
      }
      .title {
        font-size: 1.5rem;
      }
    }
    .before {
      margin-bottom: 15px;
    }
  }
}