@import "../scss/variables";

.postInfo {
	margin-top: 70px;
  margin-left: 15vw;
  width: 50%;

	.series {
    font-size: 1.8rem;
    svg {
      margin-right: 10px;
    }
    a {
      color: #444;
      &:hover {
        color: $main-color;
      }
    }
  }

	.postTitle {
		display: inline-block;
    background: linear-gradient(90deg, $main-color, $sub-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.0);
    margin: 15px 0;
    font-size: 3.3rem;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
	}

	.dateInfo {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
		margin-bottom: 15px;
    p {
      margin-right: 30px;
			margin-bottom: 0;
      svg {
        margin-right: 10px;
      }
    }
  }

	.tags {
    display: flex;
    flex-wrap: wrap;
		align-items: center;
    flex-direction: row;
    font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 12px;
    svg {
			margin-right: 10px;
    }
    p {
      margin-right: 20px;
      a {
        color: #444;
        &:hover {
          color: $main-color;
        }
        color: #444;
      }
    }
  }
  .description {
    font-size: 1.7rem;
    line-height: 1.5;
    width: 90%;
    svg {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .postInfo {
    width: 87%;
    margin: 50px auto 0;

    .series {
      font-size: 1.5rem;
    }

    .postTitle {
      font-size: 2.4rem;
      font-weight: 400;
    }

    .dateInfo {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .tags {
      font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .description {
      width: 98%;
      font-size: 1.35rem;
    }
  }
}