.post-info {
  margin-top: 50px;
  margin-left: 13vw;
  width: unquote("max(50%, 324px)");

  svg {
    margin-right: 10px;
  }

  li {
    margin-right: 20px;
  }

  a {
    color: var(--link-color);

    &:hover {
      background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
      background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 12px;
  font-size: clamp(1.5rem, 1.8vw, 1.8rem);
  line-height: 1.5;
  list-style: none;
}

.series {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
}

.post-title {
  display: inline-block;
  background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin: 15px 0;
  font-size: clamp(2.4rem, 2.5vw, 3.3rem);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
}

.date-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  font-size: clamp(1.5rem, 1.3vw, 1.7rem);
  list-style: none;

  li {
    margin-right: 30px;
    letter-spacing: 0.5px;
  }

  svg {
    margin-right: 10px;
  }
}

.description {
  width: unquote("max(300px, 90%)");
  font-size: clamp(1.35rem, 1.4vw, 1.7rem);
  line-height: 1.5;
}

@media (max-width: 768px) {
  .post-info {
    margin: 30px auto 0;
  }

  .date-info {
    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
