.post-list {
  list-style: none;
  width: clamp(400px, 65vw, 1000px);
}

.post-item {
  display: block;
  width: clamp(280px, 85%, 920px);
  margin: 0 auto;
  padding: 30px 50px 30px 40px;
  border-bottom: 1px solid #bbb;
  text-decoration: none;
  transition-duration: 0.2s;

  &:first-of-type {
    border-top: 1px solid #bbb;
  }

  &:hover {
    background-color: rgba(200, 200, 200, 0.2);
  }
}

.post-title {
  margin-bottom: 10px;

  a {
    color: var(--link-color);
    font-size: clamp(1.8rem, 2vw, 3.2rem);
    font-weight: 500;
    line-height: 1.5;

    &:hover {
      background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
      background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }
}

.date {
  display: flex;
  margin-bottom: 5px;
  list-style: none;
}

.post,
.update {
  font-size: 1.65rem;
  padding: 3px 7px 3px 0;
  margin-right: 20px;
  text-decoration: none;

  svg {
    margin-right: 5px;
  }
}

.series,
.tags,
.description {
  margin-bottom: 5px;
  padding: 3px 7px 3px 0;
  font-size: 1.7rem;
  line-height: 1.5;
  text-decoration: none;

  svg {
    margin-right: 5px;
  }

  span {
    margin-right: 10px;
  }

  a {
    margin-right: 9px;
    color: var(--link-color);
    line-height: 1.5;
    transition-duration: 0.1s;

    &:hover {
      background: linear-gradient(135deg, var(--main-color) 10%, var(--sub-color) 90%);
      background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
  }
}

.tags {
  display: flex;
  list-style: none;
}

@media (max-width: 768px) {
  .post-item {
    margin-bottom: 20px;
    padding: 8px 15px;
  }

  .post,
  .update {
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.35rem;
  }

  .series,
  .tags,
  .description {
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.35rem;

    span {
      margin-right: 10px;
    }

    a {
      margin: 0 5px;
    }
  }
}
