.header {
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #ddd;
  text-align: center;
  .header-title {
    font-size: 3rem;
  }
}

.imgWrapper {
  margin: 0 auto;
  text-align: center;
}