.wrapper {
  position: relative;
  transition: 0.3s;
}

.check {
  display: none;
}

.menu-btn {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    border-radius: 50%;
    background-color: #ededed;
  }
}

.dialog {
  position: fixed;
  width: 60%;
  height: 80vh;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  overflow: hidden;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.inner {
  height: 80vh;
}

.input {
  display: block;
  border: 1px solid #aaa;
  padding: 0.8rem;
  border-radius: 10px;
  appearance: none;
  margin: 20px auto;
  width: 30%;
  font-size: 1.67rem;
  font-weight: bold;

  &:focus {
    box-shadow: 0 0 7px var(--main-color);
    border: 1px solid #1675cc;
  }
}

.message {
  width: 80%;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 1.55rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;

  span {
    display: inline-block;
    margin: 0 12px;
    color: red;
    font-size: 2.8rem;
    font-weight: 500;
  }
}

.result-area {
  padding: 18px 30px;
  height: 55vh;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.list-item {
  list-style: none;
  margin-bottom: 10px;

  a {
    color: #fff;
    font-size: clamp(1.5rem, 1.5vw, 1.65rem);
    line-height: 1.65;
    transition: 0.1s;

    &:hover {
      color: var(--main-color);
    }
  }
}

.close-button {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 35px;
  left: 35px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 2px;
    height: 60px;
    background-color: #888;
  }

  &::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  &:hover &::before,
  &:hover &::after {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    height: 38px;
    width: 38px;

    svg {
      height: 10px;
      width: 10px;
    }
  }

  .input {
    margin: 18px auto;
    width: 55%;
    padding: 0.5rem;
  }

  .dialog {
    width: 95%;
  }

  .result-area {
    max-height: 60vh;
  }

  .list-item {
    margin-bottom: 8px;
  }

  .message {
    margin: 0 auto 10px;
  }

  .close-button {
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;

    &::before,
    &::after {
      height: 40px;
    }
  }
}
