.wrapper {
  position: fixed;
  top: 30px;
  right: 40px;
  transition: 0.3s;

  .check {
    display: none;
  }

  .menuBtn {
    display: block;
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #ddd;
    border-radius: 100vh;
    transition: 0.2s;
    &:hover {
      background-color: #ededed;
    }
    cursor: pointer;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  .list {
    position: absolute;
    top: 10px;
    left: -200px;
    display: none;
    input {
      border: 1px solid #aaa;
      padding: 0.5rem;
      border-radius: 100vh;
      &:focus {
        border-color: #eee;
      }
    }
  }

  .check:checked ~ .list {
    display: block;
  }
}