@import "../scss/variables";

.seriesMain,
.tagsMain {
  width: 55vw;
  margin: 70px auto 100px;
  padding: 50px 0;
  .seriesList,
  .tagList {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    .listItem {
      a {
        display: block;
        padding: 8px 15px;
        font-size: 1.7rem;
        text-decoration: none;
        color: #444;
        font-weight: 500;
        transition: .3s;
        border: 2.3px solid #888;
        border-radius: 3px;
        &:hover {
          color: $main-color2;
          border-color: $main-color2;
        }
      }
    }
  }
  .tagList {
    .listItem {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .seriesMain,
  .tagsMain {
    width: 90vw;
    margin: 30px auto 50px;
    padding: 20px 0;
    .seriesList,
    .tagList {
      gap: 8px;
      .listItem {
        a {
          padding: 6px 10px;
          font-size: 1.2rem;
          border: 1.5px solid #888;
        }
      }
    }
  }
}