.seriesMain {
	width: 50vw;
	margin: 70px auto 100px;
	.seriesList {
		display: flex;
		list-style: none;
		justify-content: flex-start;
		flex-wrap: wrap;
		.listItem {
			margin-right: 10px;
			margin-bottom: 15px;
			a {
				display: block;
				padding: 8px 15px;
				font-size: 1.7rem;
				text-decoration: none;
				color: #444;
				font-weight: 900;
				transition: .3s;
				border: 2px solid #888;
				border-radius: 3px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.seriesMain {
		width: 90vw;
		.seriesList {
			.listItem {
				margin-right: 8px;
				margin-bottom: 12px;
				a {
					padding: 6px 10px;
					font-size: 1.2rem;
				}
			}
		}
	}
}