.table-of-content {
  width: 30%;
  margin-top: 80px;
  margin-right: 40px;
  font-size: 0.95rem;

  & > ul {
    padding: 30px 0;
    overflow-y: auto;
  }

  & ul {
    position: sticky;
    top: 15vh;
    padding-left: 12px;
    list-style: none;
    margin-left: 2px;
    max-height: 70vh;

    & li {
      margin-bottom: 8px;
      line-height: 1.6;

      & ul {
        border-left: 1px solid #cdcdcd;
      }

      & p {
        margin-bottom: 8px;
      }
    }
  }

  & a {
    position: relative;
    color: var(--text-color);

    &:hover {
      color: var(--post-link-color);
    }
  }

  .active {
    color: var(--post-link-color);

    &::before {
      position: absolute;
      content: "▶️";
      font-size: 0.95rem;
      top: 50%;
      left: -18px;
      transform: translateY(-50%);
    }
  }
  
  @media (max-width: 768px) {
    display: none;
  }
}
