@import "../scss/variables";

.tableOfContent {
	width: 30%;
	margin-top: 80px;
	margin-right: 30px;
	ul {
		position: -webkit-sticky;
    position: sticky;
    top: 9vh;
		padding-left: 15px;
		list-style: none;
		li {
      margin-bottom: 8px;
      font-size: 1.7rem;
			line-height: 1.6;
      p {
        margin-bottom: 8px;
      }
			a {
				color: #444;
				&:hover {
					color: $main-color;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.tableOfContent {
		display: none;
	}	
}

