* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

main {
  font-weight: 300;
  width: 40vw;
  margin: 0 auto;
}

header {
  height: 100vh;
  line-height: 100vh; 
  text-align: center;
}

a {
  display: block;
  height: 20vh;
  width: 100%;
  margin-top: 10vh;
  background-color: #444;
  color: #fff;
  font-size: 5rem;
  text-align: center;
}

a :hover {
  background-color: #888; 
}

/* ************************************************* */

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.fadein {
  opacity: 0;
  animation: fadein 2s linear;
  animation-fill-mode: forwards;
  width: max(20vw, 300px);
  height: max(20vw, 300px);
  margin: 0 auto;
}

@scroll-timeline fadein-timeline {
  source: auto;
  start: selector(#fadein) end 0;
  end: selector(#fadein) end 1;
  scroll-offsets: selector(#fadein) end 0.5,
    selector(#fadein) end 1;
  time-range: 2s;
}

#fadein {
  animation-timeline: fadein-timeline;
}

/* ************************************************* */

@keyframes to-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.to-right {
  opacity: 0;
  animation: to-right 2s linear;
  animation-fill-mode: forwards;
  width: max(20vw, 300px);
  height: max(20vw, 300px);
  margin: 0 auto;
  transform: translateX(-300px);
}

@scroll-timeline to-right-timeline {
  source: auto;
  start: selector(#to-right) end 0;
  end: selector(#to-right) end 1;
  scroll-offsets: selector(#to-right) end 0.5,
    selector(#to-right) end 1;
  time-range: 8s;
}

#to-right {
  animation-timeline: to-right-timeline;
}

/* ************************************************* */

@keyframes to-left {
  to {
    transform: translateX(0);
  }
}

.to-left {
  opacity: 0;
  animation: to-right 2s linear;
  animation-fill-mode: forwards;
  width: max(20vw, 300px);
  height: max(20vw, 300px);
  margin: 0 auto;
  transform: translateX(300px);
}

@scroll-timeline to-left-timeline {
  source: auto;
  start: 0%
  start: selector(#to-left) end 0;
  end: selector(#to-left) end 1;
  scroll-offsets: selector(#to-left) end 0.5,
    selector(#to-left) end 1;
  time-range: 8s;
}

#to-left {
  animation-timeline: to-left-timeline;
}

.image1 {
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image2 {
  background: linear-gradient(to right bottom, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image3 {
  background: linear-gradient(to right, #66ff00, #a80077); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image4 {
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
*/

