:where(header, main, footer) a:hover {
  color: red;
  text-decoration: underline;
}

article :where(header, footer) > p {
  color: lightgray;
}

:where(.dark-theme, .dim-theme)
:where(button, a) {
  color: purple;
}
